@{
    ViewBag.Title = "Home Page";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");

    }
}
<html>
<body>
    <br />
    <img src="Content\images\zuyd.jpg" alt="Content\images\zuyd.jpg" style="width:768px;height:236px;">

</body>
</html>

