@{
    ViewBag.Title = "Home Page";
    if (Session["userID"] == null)
    {
        Response.Redirect("~/Login/Index");

    }
}
<html>
<body>

<img src="zuyd.jpg" alt="zuyd.jpg" style="width:1000px;height:500px;">

</body>
</html>

